td, th {
    font-size: large;
    border: 1px solid black;
    color: black;
}

.active_page {
    color: rgba(255, 99, 71, 0.99);
}

.button_page{
    color: white;
    border: 1px solid black;
    margin: 5px;
    padding: 20px;
    font-size: large;
}