<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <link href="style/main.css" rel="stylesheet">
    <script src="script/jquery.js"></script>
    <script src="script/my.js"></script>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task,number :${taskList}">
        <td th:text="${task.getId()}"/>
        <td th:text="${task.getDescription()}" th:id="'description_' + ${task.getId()}"/>
        <td th:text="${task.getStatus()}" th:id="'status_' + ${task.getStatus()}"/>
        <td>
            <button th:id="'edit_' + ${task.getId()}" th:onclick="'edit_task('+ ${task.getId()} +')'">Edit</button>
        </td>
        <td>
            <button th:id="'delete_' + ${task.getId()}" th:onclick="'delete_task('+ ${task.getId()} +')'">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
<h2>
    <button th:each="pageNumber : ${page_numbers}" class="button_page">
        <a th:href="@{/(page=${pageNumber}, limit=10)}" th:text="${pageNumber}"
           th:classappend="${pageNumber == current_page? 'active_page' : ''}"></a>
    </button>
</h2>
</body>
</html>